.breadcrums_and_title {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  .breadcrums-box {
    --bs-breadcrumb-divider: ">";
    .breadcrumb {
      display: flex;
      gap: 3rem;
      flex-wrap: nowrap;
      overflow: scroll;
      .breadcrumb-item {
        white-space: nowrap;
        font-size: 14rem;
        line-height: 16.8rem;
        color: #4c4c4c;
        display: flex;
        align-items: center;
        gap: 3rem;
      }
    }
  }

  h1 {
    font-size: 36rem;
    line-height: 36rem;
    font-weight: 700;
  }
}
