.catalog-sort-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 28rem;
}

.catalog-sort-menu {
  width: 305rem;
  .sort-menu-block {
    display: flex;
    flex-direction: column;
    gap: 20rem;
  }
}

.catalog-clear-filters {
  display: flex;
  align-items: center;
  gap: 10rem;
  font-size: 16rem;
  font-weight: 400;
  line-height: 19rem;
  color: var(--Standart-color-Gray, #868686);
}

.accordion-item {
  background: $gray;
  border: none;
  .accordion-header {
    border: none;
    :focus {
      box-shadow: none;
    }
  }
}

.catalog-sort-menu-price h2,
.accordion-button {
  background: $gray;
  font-size: 16rem;
  font-weight: 500;
  line-height: 19rem;
  text-align: left;
}

.accordion-button::after {
  width: 11rem;
  height: 9.25rem;
  background-size: 11rem;
  margin-right: 9.25rem;
  color: $black;
}

.accordion-button:not(.collapsed) {
  background-color: inherit;
  color: inherit;
  box-shadow: none;
}

.catalog-sort-decor-line {
  width: 100%;
  height: 1px;
  background: var(--Standart-color-Light-Gray, #e9e8e8);
}

.range_container {
  margin-top: 29rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sliders_control {
  position: relative;
}

.form_control {
  margin-top: 28rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 25rem;
  height: 25rem;
  background-color: #f8f8f8;
  border: 2rem solid #2a8927;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  width: 25rem;
  height: 25rem;
  background-color: #f8f8f8;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  border: 3rem solid #2a8927;
}
.form_control {
  input[type="number"] {
    color: #121212;
    font-size: 16rem;
    line-height: 19.2rem;
    border: none;
    padding: 16rem;
    border-radius: 100rem;
    background: var(--Standart-color-Light-Gray, #e9e8e8);
    width: 105.5rem;
    height: 51rem;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 3rem;
  width: 304rem;
  position: absolute;
  pointer-events: none;
}

#fromSlider,
#fromSlider1 {
  height: 0;
  z-index: 1;
}

.sort-form-separator {
  font-size: 16rem;
  font-weight: 400;
  line-height: 19.2rem;
  text-align: center;
}

.sort-form-button-ok {
  border: none;
  padding: 16rem;
  border-radius: 100rem;
  background: var(--Standart-color-Light-Gray, #e9e8e8);
  font-size: 16rem;
  font-weight: 500;
  line-height: 24rem;
  text-align: center;
  color: #121212;
  width: 58rem;
  height: 56rem;
}

.catalog-sort-kind,
.catalog-sort-gram {
  margin-top: 18rem;
  display: flex;
  flex-direction: column;
  gap: 16rem;
  transition: all 0.15s ease;
}

.form-check {
  gap: 10rem;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

  input {
    display: none;
  }
}

.sort-menu__box-for-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 25rem;
  border: 2rem solid #868686;
  border-radius: 5rem;
  margin-left: -2rem;
}

.sort-menu__box-for-checkbox:hover {
  border: 2rem solid #2a8927;
}

.sort-menu__box-for-checkbox.checkbox_checked {
  border: 2rem solid #2a8927;
  background: #2a8927;
}

.form-check-label {
  cursor: pointer;
  font-size: 16rem;
  font-weight: 400;
  line-height: 19.2rem;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10rem;
}

.catalog-sort-menu-price {
  margin-top: 22rem;
}

.sort__replaceable-elements-container {
  display: flex;
  flex-direction: column;
  gap: 14rem;
  margin: 16rem 0;
}

.sort__replaceable-elements-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
}

.sort__replaceable-elements-name {
  height: 27.2rem;
  font-size: 16rem;
  line-height: 19.2rem;
  text-align: left;
  display: flex;
  align-items: center;
}

.sort__replaceable-elements-item {
  width: min-content;
  display: flex;
  align-items: center;
  gap: 10rem;
  flex-direction: row;
  padding: 4rem 10rem;
  background-color: #e9e8e8;
  border-radius: 5rem;
  label {
    text-wrap: nowrap;
    cursor: pointer;
    font-size: 16rem;
    line-height: 19.2rem;
    text-align: left;
    color: #4c4c4c;
  }
}

.button_filters-reset {
  margin: 16rem 0;
  padding: 16rem 24rem;

  border-radius: 100rem;
  background: #e9e8e8;
  font-size: 16rem;
  font-weight: 500;
  line-height: 24rem;
  text-align: center;
  color: #121212;
}

.filters-reset-not-mobile {
  width: 304rem;
}

.catalog-sort-main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30rem;
}

.sort-content-filter-and-sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btn__filter {
    display: none;
    span {
      font-size: 16rem;
      font-weight: 500;
      line-height: 24rem;
    }
  }

  .sort-content-filter {
    .offcanvas {
      --bs-offcanvas-width: fit-content;
    }

    .offcanvas-header {
      border: none;
      margin: 30rem 30rem 15rem 30rem;
      height: 33rem;
      padding: 0;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 15rem;
      align-items: center;
    }

    #offcanvasSortMenuLabel {
      font-size: 20rem;
      line-height: 20rem;
      font-weight: 700;
    }

    .offcanvas-body {
      padding: 15rem 30rem 30rem 30rem;
    }
  }

  .button_filters-reset {
    margin: 20rem;
  }
}

.accordion-button .mobile {
  font-size: 18rem;
  line-height: 18rem;
}

.header__button-catalog--active + body {
  overflow: hidden;
}

.sort-content-sorting {
  display: flex;
  align-items: center;
  h5 {
    margin: auto 0;
    font-size: 16rem;
    font-weight: 500;
    line-height: 24rem;
    text-align: left;
  }
  label {
    margin-left: 10rem;
    font-size: 16rem;
    line-height: 24rem;
    font-weight: 500;
    padding: 5rem 10rem;
    border-radius: 5rem;
    border: none;
    color: #4c4c4c;
    &:hover:hover {
      color: $green-dark;
    }
  }
  input:checked:checked + label {
    background: #e9e8e8;
    color: #4c4c4c;
  }
}

.sort-content-sorting-input {
  display: flex;
  flex-direction: row;
  height: min-content;
  align-content: center;
}

.sort-mobile-menu-button-box {
  border-top: 1px solid var(--Standart-color-Light-Gray, #e9e8e8);
  padding: 20rem;
  .button_filters-reset {
    width: 100%;
    margin: 0;
  }
}

.catalog-market {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc((100% - 3 * 39rem) / 4), 1fr)
  );
  gap: 42rem 39rem;
  width: 100%;
}

.catalog-market .many-swipers__sales-cell {
  gap: 9rem;
  .sales-cell_img {
    max-width: 246rem;
    max-height: 246rem;
  }
  .sales-cell_name-and-favourite .svg__box {
    width: min-content;
  }
}

.catalog-content-pagination {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20rem;
  button {
    font-size: 16rem;
    font-weight: 500;
    line-height: 24rem;
    text-align: left;
    background: $green-dark;
    color: $gray;
    padding: 16rem 24rem;
    border-radius: 100rem;
  }

  ul {
    flex-direction: row;
    gap: 15rem;
    align-items: center;
    :last-child .page-link,
    :first-child .page-link {
      padding: 10rem;
    }
  }

  .page-link {
    width: 48rem;
    height: 48rem;
    padding: 12rem 17rem;
    border-radius: 100rem !important;
    background: var(--Standart-color-Light-Gray, #e9e8e8);
    border: 2rem solid #e9e8e8;
    color: $black;

    font-weight: 400;
    font-size: 16rem;
    line-height: 19.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-item.active .page-link {
    background: $gray;
    border: 2rem solid $green-dark;
  }
  .page-item.disabled .page-link {
    opacity: 50%;
  }
}

.pagination-mob {
  display: none;
}

.page-item:not(:first-child) .page-link {
  margin-left: 0;
}

.pagination_pages {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  align-items: center;
}

.pagination.pagination-mob {
  gap: 10rem;
}
