.delivery-page {
  .container-breadcrums {
    width: 750rem;
    margin: 0 auto;
  }
  .topography {
    width: 750rem;
    margin: 20rem auto 100rem auto;

    color: #4c4c4c;
    font-size: 16rem;
    line-height: 19rem;

    h1,
    h2 {
      font-size: 36rem;
      line-height: 36rem;
      font-weight: 700;
      color: #121212;
      margin-bottom: 20rem;
    }

    h3,
    h4,
    h5,
    h6 {
      font-size: 20rem;
      line-height: 20rem;
      font-weight: 500;
      color: #121212;
      margin-bottom: 20rem;
    }

    img {
      margin-bottom: 16rem;
    }

    ul {
      margin-bottom: 20rem;
    }

    li {
      margin-left: 25rem;
      list-style-type: none;
      position: relative;
      &::before {
        content: "•";
        left: -16rem;
        top: -1rem;
        position: absolute;
      }
    }

    p {
      font-size: 16rem;
      line-height: 19rem;
      margin-bottom: 20rem;
    }

    b,
    strong {
      font-weight: 900;
    }
    p {
      sup {
        margin-top: 10rem;
        color: #ffa826;
        font-weight: 500;
        font-size: 16rem;
        line-height: 24rem;
        top: 0rem;
        margin-bottom: 20rem;
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      border: 1px solid #000;
      vertical-align: middle;
      padding: 10rem 12rem;
      min-width: 80rem;
    }

    th {
      background-color: #e9e8e8;
      font-weight: 500;
      font-size: 16rem;
      line-height: 24rem;
    }

    td {
      height: 146rem;
    }
  }
}
