$green-dark: #2a8927;
$red: #ff4444;
$black: #121212;
$gray: #f8f8f8;
$dark-gray: #4c4c4c;
$light-gray: #868686;

.color-black {
  fill: $black;
}

.color-red {
  fill: $red;
}

.color-green {
  fill: $green-dark;
}

.color-gray {
  fill: $gray;
}

.color-dark-gray {
  fill: $dark-gray;
}

.color-light-gray {
  fill: $light-gray;
}

.svg__transition {
  transition: all 0.3s ease-in-out;
}

.svg__box {
  width: 24rem;
  height: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg__big-box {
  width: 48rem;
  height: 48rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg_size-search {
  width: 19.2rem;
  height: 19.2rem;
}

.svg_arrow__box {
  width: 6.25rem !important;
  height: 11rem !important;
}

.svg_arrow-bottom__box {
  width: 11rem;
  height: 6.25rem;
}

.svg-height_20px {
  min-height: 23rem;
}

.svg-size_ecolist {
  width: 17rem;
  height: 17rem;
}

.svg-size_psychiatry {
  width: 19rem;
  height: 18rem;
}

.svg-size_flower {
  width: 19rem;
  height: 20rem;
}

.svg-size_grass {
  width: 20rem;
  height: 16rem;
}

.svg-size_bunny {
  width: 14rem;
  height: 20rem;
}

.svg-size_map {
  width: 18rem;
  height: 18rem;
}

.svg-size_mini-search {
  width: 18rem;
  height: 18rem;
}

.svg-size_hand_heart {
  width: 21rem;
  height: 20.5rem;
}

.svg-size_menu {
  width: 18rem;
  height: 16rem;
}
.svg-size_closer {
  width: 14rem;
  height: 14rem;
}

.svg-size_heart-red {
  width: 23rem;
}

.svg-size_footer-phone {
  width: 17rem;
  height: 17rem;
}

.svg-size_footer-mail {
  width: 19.2rem;
  height: 15rem;
}

.svg-size_footer-mark {
  width: 15.1rem;
  height: 19.01rem;
}

.svg-size_footer-youtube {
  width: 20rem;
  height: 14rem;
}

.svg-size_footer-viber {
  width: 18.8rem;
  height: 20.47rem;
}

.svg-size_footer-facebook {
  width: 18.8rem;
  height: 20.47rem;
}
.svg-size_header-person {
  width: 24rem;
  height: 22rem;
}

.svg-size_header-like {
  width: 24rem;
  height: 23rem;
}

.svg-size_cart {
  width: 24rem;
  height: 24rem;
}

.svg-size_checkmark {
  width: 18rem;
  height: 14rem;
}

.svg-size_sort-elements-closer {
  width: 11.5rem;
  height: 11.5rem;
}

.svg_arrow-filter {
  width: 14.53rem;
  height: 15rem;
}

.svg_size_trush {
  width: 24rem;
  height: 24rem;
}

.svg_availability-check-mark {
  width: 11rem;
  height: 12rem;
}

.svg_checkout-mark {
  width: 13.94rem;
  height: 17.47rem;
}

.svg-box_eye {
  width: 24rem;
  height: 24rem;
}
