.icon-svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-svg-arrow_bottom {
  font-size: (7/10) * 1rem;
  width: (11/7) * 1em;
}
.icon-svg-arrow_left {
  font-size: (11/10) * 1rem;
  width: (7/11) * 1em;
}
.icon-svg-arrow_right {
  font-size: (11/10) * 1rem;
  width: (7/11) * 1em;
}
.icon-svg-availability_check_mark {
  font-size: (13/10) * 1rem;
  width: (11/13) * 1em;
}
.icon-svg-bunny {
  font-size: (20/10) * 1rem;
  width: (14/20) * 1em;
}
.icon-svg-cart {
  font-size: (24/10) * 1rem;
  width: (24/24) * 1em;
}
.icon-svg-checkmark {
  font-size: (15/10) * 1rem;
  width: (19/15) * 1em;
}
.icon-svg-close_eye {
  font-size: (24/10) * 1rem;
  width: (24/24) * 1em;
}
.icon-svg-closer {
  font-size: (14/10) * 1rem;
  width: (14/14) * 1em;
}
.icon-svg-ecolist {
  font-size: (17/10) * 1rem;
  width: (17/17) * 1em;
}
.icon-svg-facebook {
  font-size: (21/10) * 1rem;
  width: (20/21) * 1em;
}
.icon-svg-filter {
  font-size: (15/10) * 1rem;
  width: (15/15) * 1em;
}
.icon-svg-flower {
  font-size: (20/10) * 1rem;
  width: (20/20) * 1em;
}
.icon-svg-grass {
  font-size: (16/10) * 1rem;
  width: (20/16) * 1em;
}
.icon-svg-hand_heart {
  font-size: (21/10) * 1rem;
  width: (21/21) * 1em;
}
.icon-svg-heart-red {
  font-size: (26/10) * 1rem;
  width: (30/26) * 1em;
}
.icon-svg-heart-red_active {
  font-size: (26/10) * 1rem;
  width: (30/26) * 1em;
}
.icon-svg-like {
  font-size: (24/10) * 1rem;
  width: (24/24) * 1em;
}
.icon-svg-mail {
  font-size: (16/10) * 1rem;
  width: (20/16) * 1em;
}
.icon-svg-map {
  font-size: (18/10) * 1rem;
  width: (18/18) * 1em;
}
.icon-svg-mark {
  font-size: (20/10) * 1rem;
  width: (16/20) * 1em;
}
.icon-svg-menu {
  font-size: (16/10) * 1rem;
  width: (19/16) * 1em;
}
.icon-svg-mini-closer {
  font-size: (14/10) * 1rem;
  width: (14/14) * 1em;
}
.icon-svg-mini-search {
  font-size: (18/10) * 1rem;
  width: (18/18) * 1em;
}
.icon-svg-open_eye {
  font-size: (24/10) * 1rem;
  width: (25/24) * 1em;
}
.icon-svg-person {
  font-size: (24/10) * 1rem;
  width: (24/24) * 1em;
}
.icon-svg-phone {
  font-size: (18/10) * 1rem;
  width: (18/18) * 1em;
}
.icon-svg-psychiatry {
  font-size: (18/10) * 1rem;
  width: (18/18) * 1em;
}
.icon-svg-search {
  font-size: (20/10) * 1rem;
  width: (19/20) * 1em;
}
.icon-svg-trash {
  font-size: (24/10) * 1rem;
  width: (24/24) * 1em;
}
.icon-svg-viber {
  font-size: (21/10) * 1rem;
  width: (20/21) * 1em;
}
.icon-svg-youtube {
  font-size: (15/10) * 1rem;
  width: (20/15) * 1em;
}
